body{
  background-color:rgb(4, 215, 201);
  margin: 0;
  padding:  0;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.upper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: black;
  color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.sitename{
  margin-left: 20px;
  letter-spacing: 5px;
  margin-top: 30px;
  font-size: 30px;
}
.limited{
  margin-left: 20px;
  margin-top: 30px;
  border-bottom: solid;
  border-color: darkorange;
  border-width: 1px;
}
.order{
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid;
  border-color: darkorange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
}
.order span{
  font-size: 15px;
  font-weight: bolder;
  color: teal;
  cursor: pointer;
}
.order:hover{
  background-color: rgb(182, 181, 181);
}
.order a {
  text-decoration: none;
}
.scroll{
  position: absolute;
  bottom: 0%;
  right: 10%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.home{
  width: 60px;
  height: 60px;
 }
 .home:hover{
  width:62px ;
  height: 62px;
 }
.top{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.soap{
  padding: 5px 10px;
  border: solid;
  border-width: 2px;
  border-color: darkorange;
  color: darkorange;
  border-radius: 20px;
  font-weight: bolder;
}
.soap:hover{
  background-color: darkorange;
  color: white;
  border-color: white;
}
.container{
  border: solid;
  border-width: 5px;
  border-color: darkorange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.container:hover{
  border-color: rgb(199, 115, 14);
  background-color:rgb(1, 175, 164) ;
}
.title{
  font-size: 40px;
  color: white;
  margin-bottom: 0px;
}
.type{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: darkorange;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imginfo{
  width: 50%;
  border-radius: 20px;
}
.info{
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.lable{
  font-size: 30px;
  font-weight: bolder;
  color: darkorange;
}
.size{
  margin-left: 10px;
  color:white;
  font-size: 25px;
  text-decoration: underline;
  font-weight: bolder;
}
.bottom{
  width: 100%;
  background-color: darkorange;
  padding-bottom: 50px;
}
.grid{
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.bottom p{
  font-size: 30px;
  color: white;
  margin-left: 20px;
}

.grid  span{
  margin-left: 20px;
  font-size: 17px;
  line-height: 25px;
  display: grid;
  cursor: pointer;
}
.grid span:hover{
  text-decoration: underline;
}
@media only screen  and (min-width:768px){
  .upper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: black;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-top: 80px;
    margin-bottom: 70px;
  }
  .logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .sitename{
    margin-left: 20px;
    letter-spacing: 5px;
    margin-top: 30px;
    font-size: 80px;
  }
  .limited{
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: solid;
    border-color: darkorange;
    border-width: 1px;
    font-size: 50px;
  }

.soapdiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.soap{
  padding: 10px 20px;
  border: solid;
  border-width: 2px;
  border-color: darkorange;
  color: darkorange;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 19px;
}
.grid  span{
  margin-left: 20px;
  font-size: 20px;
  line-height: 25px;
  display: grid;
  cursor: pointer;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.order{
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 90px;
  height: 90px;
  background-color: white;
  border: solid;
  border-color: darkorange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.scroll{
  position: absolute;
  bottom: 0%;
  right: 10%;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.home{
  width: 90px;
  height: 90px;
 }
 .home:hover{
  width:92px ;
  height:92px ;
 }

.type{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: darkorange;
  font-size: 25PX;
}
}
@media only screen  and (min-width:1000px){
  .upper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: black;
    color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-top: 80px;
    margin-bottom: 70px;
  }
  .logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .sitename{
    margin-left: 20px;
    letter-spacing: 5px;
    margin-top: 30px;
    font-size: 80px;
  }
  .limited{
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: solid;
    border-color: darkorange;
    border-width: 1px;
    font-size: 50px;
  }

  .soapdiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .soap{
    padding: 10px 20px;
    border: solid;
    border-width: 2px;
    border-color: darkorange;
    color: darkorange;
    border-radius: 20px;
    font-weight: bolder;
    font-size:20px ;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid  span{
    margin-left: 20px;
    font-size: 25px;
    line-height: 25px;
    display: grid;
    cursor: pointer;
  }
  .order{
    position: absolute;
    bottom: 25%;
    right: 10%;
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid;
    border-color: darkorange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  .scroll{
    position: absolute;
    bottom: 2%;
    right: 10%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  .home{
    width: 100px;
    height: 100px;
   }
   .home:hover{
    width:102px ;
    height:102px ;
   }
  .type{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: darkorange;
    font-size: 35PX;
  }
  
}